
/**
* Mixins
*/

$primary-color: #008cff;

@mixin clear-fix() {
    clear: both;
    display: block;
    content: '';
}

@mixin border-radius($args...) {
    -webkit-border-radius: $args;
    -moz-border-radius: $args;
    border-radius: $args;
}

@mixin box-sizing($args:border-box) {
    -webkit-box-sizing: $args;
    -moz-box-sizing: $args;
    box-sizing: $args;
}
