/********************************** Admin room page *************************************************/
.post-type-hb_room #gallery_settings .hb-form-field-input {
  margin-left: 0; }

.post-type-hb_room #gallery_settings ul {
  margin: 5px;
  padding: 0;
  overflow: hidden; }
  .post-type-hb_room #gallery_settings ul li.attachment {
    width: 15%;
    padding: 5px;
    cursor: move;
    float: left;
    margin: 0; }
    .post-type-hb_room #gallery_settings ul li.attachment:hover .centered {
      opacity: 0.4; }

.post-type-hb_room #gallery_settings .hb-form-field-input-inner {
  margin-left: 0; }

.post-type-hb_room #gallery_settings .attachment-preview {
  cursor: move; }

/********************************** Room regular price and pricing plans *************************************************/
.hb-pricing-list th, .hb-pricing-list td {
  padding: 5px 5px 5px 0; }

.hb-pricing-list tbody td input {
  width: 100%; }

/****************************************** Admin booking page ***************************************************/
.post-type-hb_booking .search-box {
  display: none; }

.post-type-hb_booking #post-body #normal-sortables {
  min-height: 0; }

.post-type-hb_booking #booking-actions label {
  display: block;
  font-weight: 600; }

.post-type-hb_booking #booking-actions ul li {
  margin-bottom: 15px; }
  .post-type-hb_booking #booking-actions ul li label {
    margin-bottom: 5px; }

.post-type-hb_booking #booking-actions .customer_details .select2-container {
  min-width: 200px !important; }

.post-type-hb_booking #booking-actions .customer_details > span {
  width: auto !important; }

.post-type-hb_booking #booking-actions .major-publishing-actions {
  padding: 10px;
  clear: both;
  border-top: 1px solid #ddd;
  background: #f5f5f5; }
  .post-type-hb_booking #booking-actions .major-publishing-actions #delete-action {
    float: left;
    line-height: 28px; }
    .post-type-hb_booking #booking-actions .major-publishing-actions #delete-action a {
      color: #a00; }
  .post-type-hb_booking #booking-actions .major-publishing-actions #publishing-action {
    text-align: right;
    float: right;
    line-height: 23px; }
  .post-type-hb_booking #booking-actions .major-publishing-actions .clear {
    clear: both; }

.post-type-hb_booking #booking-details {
  margin: 20px 0; }

.post-type-hb_booking #booking-items {
  margin-bottom: 20px; }
  .post-type-hb_booking #booking-items table {
    width: 100%;
    margin-bottom: 25px;
    text-align: center; }
    .post-type-hb_booking #booking-items table thead th {
      height: 30px;
      font-size: 16px;
      padding: 10px;
      font-weight: 500;
      border: 1px solid #DDD; }
      .post-type-hb_booking #booking-items table thead th.night, .post-type-hb_booking #booking-items table thead th.qty, .post-type-hb_booking #booking-items table thead th.actions, .post-type-hb_booking #booking-items table thead th.total {
        padding: 2px; }
    .post-type-hb_booking #booking-items table tbody td {
      padding: 20px 10px;
      font-size: 14px;
      border: 1px solid #DDD; }
  .post-type-hb_booking #booking-items .booking-actions {
    clear: both;
    overflow: auto; }
    .post-type-hb_booking #booking-items .booking-actions .actions {
      float: right;
      height: 30px;
      display: inline-block; }

.post-type-hb_booking #booking-customer .hb-form-field {
  margin: 0 0 25px 0;
  display: inline-block;
  width: 49%; }
  .post-type-hb_booking #booking-customer .hb-form-field label {
    display: inline-block;
    width: 80px; }

.post-type-hb_booking #booking-customer .booking-notes label {
  display: block;
  margin-bottom: 10px; }

.post-type-hb_booking #booking-customer .booking-notes textarea {
  width: calc(100% - 85px);
  margin-left: 85px; }

.post-type-hb_booking .column-customer, .post-type-hb_booking .column-total {
  width: 15%; }
  .post-type-hb_booking .column-customer strong, .post-type-hb_booking .column-total strong {
    display: block; }

.post-type-hb_booking .column-title, .post-type-hb_booking .column-check_in_date, .post-type-hb_booking .column-check_out_date, .post-type-hb_booking .column-booking_date, .post-type-hb_booking .column-status {
  width: 14%; }

/****************************************** Admin booking detail ***************************************************/
#hb-booking-details .hb-booking-details {
  display: inline-block; }

#hb-booking-details .booking-user-data {
  display: inline-block;
  width: calc(100% - 200px);
  position: relative; }
  #hb-booking-details .booking-user-data .user-avatar {
    display: inline-block; }
  #hb-booking-details .booking-user-data .order-user-meta {
    display: inline-block;
    position: absolute;
    margin-left: 20px; }
    #hb-booking-details .booking-user-data .order-user-meta .user-display-name {
      margin-bottom: 10px; }
      #hb-booking-details .booking-user-data .order-user-meta .user-display-name a {
        text-decoration: none;
        margin-bottom: 10px; }

#hb-booking-details .booking-data {
  display: inline-block;
  width: 200px;
  float: right; }
  #hb-booking-details .booking-data .booking-data-number {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px; }
  #hb-booking-details .booking-data .booking-date {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px; }

.hb_addition_package_extra {
  display: none;
  clear: both;
  padding-top: 30px; }
  .hb_addition_package_extra .hb_addition_package_title_toggle {
    margin: 0; }
  .hb_addition_package_extra a.hb_package_toggle {
    display: block;
    color: #333333 !important;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: none;
    padding: 0;
    text-decoration: none !important;
    /* margin-bottom: 15px; */ }
    .hb_addition_package_extra a.hb_package_toggle:after {
      content: '\f342';
      font: 400 18px/1 dashicons;
      vertical-align: top;
      line-height: 28px;
      display: inline-block;
      margin-left: 5px; }
    .hb_addition_package_extra a.hb_package_toggle.active:after {
      content: '\f346'; }
  .hb_addition_package_extra .hb_package_toggle:hover, .hb_addition_package_extra .hb_package_toggle.active {
    border-color: #46598b;
    color: #46598b; }
  .hb_addition_package_extra input.hb_optional_quantity {
    width: 50px; }

/****************************************** Admin modal ***************************************************/
#hb_modal_dialog .hb_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 500px;
  background: #fff;
  z-index: 100000; }
  #hb_modal_dialog .hb_modal .form_head {
    height: 50px;
    background: #fcfcfc;
    padding: 0 50px 0 16px;
    border-bottom: 1px solid #ddd; }
    #hb_modal_dialog .hb_modal .form_head h1 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      line-height: 50px; }
    #hb_modal_dialog .hb_modal .form_head .modal_close {
      float: right;
      margin: 0 5px;
      cursor: pointer;
      color: #777;
      height: 50px;
      width: 50px;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      border: 0;
      border-left: 1px solid #ddd;
      background-color: transparent;
      -webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
      transition: color .1s ease-in-out, background .1s ease-in-out; }
  #hb_modal_dialog .hb_modal .form_footer {
    background: #fcfcfc;
    border-top: 1px solid #ddd;
    padding: 16px;
    overflow: hidden; }
    #hb_modal_dialog .hb_modal .form_footer .modal_close {
      float: right;
      margin: 0 5px; }
    #hb_modal_dialog .hb_modal .form_footer > .center {
      text-align: center; }
      #hb_modal_dialog .hb_modal .form_footer > .center button {
        float: initial; }
  #hb_modal_dialog .hb_modal .section_line {
    padding: 10px;
    margin: 5px;
    overflow: hidden; }
    #hb_modal_dialog .hb_modal .section_line h4 {
      margin: 0; }
    #hb_modal_dialog .hb_modal .section_line .section {
      float: left;
      width: auto;
      max-width: 100%;
      min-width: 200px;
      margin: 8px 0;
      overflow: hidden; }
    #hb_modal_dialog .hb_modal .section_line li {
      display: inline-block;
      float: left;
      clear: both; }
  #hb_modal_dialog .hb_modal select {
    width: 100%; }

#hb_modal_dialog .modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 360px;
  background: #000;
  opacity: .7;
  z-index: 99900; }

form[name="hb-admin-settings-form"] .subsubsub {
  float: none;
  margin: 10px 0 0; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

form[name="hb-admin-settings-form"] select, form[name="hb-admin-settings-form"] input[type="text"] {
  width: 25em; }

.hb-form-field {
  margin: 0 0 25px 0; }
  .hb-form-field::after {
    content: '';
    display: block;
    clear: both; }
  .hb-form-field .hb-form-field-label {
    min-height: 5px;
    float: left;
    width: 25%;
    font-weight: bold; }
  .hb-form-field .hb-form-field-input {
    margin-left: 25%; }
    .hb-form-field .hb-form-field-input textarea {
      width: 100%;
      min-height: 100px; }
  .hb-form-field .hb-form-field-input-inner {
    margin-left: 20px; }

#hb-pricing-plan-list {
  overflow: hidden;
  clear: both; }

.hb-pricing-table {
  border: 1px solid #DDD;
  position: relative;
  margin-bottom: 20px;
  background-color: #FFF;
  clear: both; }

.hb-pricing-table-title {
  padding: 10px;
  margin: 0;
  font-size: 16px;
  height: 32px;
  line-height: 32px; }

.hb-pricing-controls {
  position: absolute;
  right: 10px;
  top: 10px; }

.hb-pricing-controls a {
  margin-left: 0;
  border: 1px solid #DDD;
  background-color: #F5F5F5;
  padding: 5px; }

.hb-pricing-table.regular-price .hb-pricing-table-title input,
.hb-pricing-table.regular-price .hb-pricing-controls .dashicons-trash {
  display: none; }

.hb-pricing-table-title input {
  min-width: 150px;
  width: auto; }

.hb-admin-sub-tab a {
  outline: none;
  box-shadow: none; }

.hb-payment-gateways .subsubsub .current {
  font-weight: bold; }

.hb-sub-tab-content {
  opacity: 0;
  float: left;
  width: 100%;
  margin-right: -100%;
  overflow: hidden;
  clear: both;
  display: none; }

.hb-sub-tab-content.current {
  opacity: 1;
  display: block; }

.post-type-hb_room .column-date {
  display: none; }

.post-type-hb_room .column-author {
  width: 150px; }

#adminmenu .toplevel_page_hb_booking_details {
  _display: none; }

.customer-information {
  width: 50%; }

.customer-information tr {
  width: 500px;
  border: 1px solid black; }

.post-type-hb_customer .column-bookings {
  width: 150px; }

.post-type-hb_customer .column-phone_number {
  width: 150px; }

.post-type-hb_customer #post-body-content,
.post-type-hb_booking #post-body-content {
  display: none; }

/**/
.hb-booking-table,
.hb-booking-rooms {
  border: 1px solid #DDD;
  border-collapse: collapse;
  max-width: 800px;
  background-color: #FFF;
  font-size: 14px;
  width: 50%;
  margin-bottom: 20px; }

.hb-booking-table td,
.hb-booking-table th,
.hb-booking-rooms td,
.hb-booking-rooms th {
  border: 1px solid #DDD;
  padding: 10px; }

.hb-booking-table thead th,
.hb-booking-rooms thead th {
  background-color: #F5F5F5; }

.hb-booking-table thead h3,
.hb-booking-rooms thead h3 {
  text-align: left;
  margin: 0;
  padding: 0; }

.hb-booking-table tbody th {
  text-align: left;
  width: 30%; }

.tablenav.top select[name="filter-type"] {
  float: none;
  vertical-align: top; }

#hb-booking-date-from,
#hb-booking-date-to,
#hb-booking-date-from[readonly="readonly"],
#hb-booking-date-to[readonly="readonly"] {
  background-color: #FFF;
  width: 100px;
  text-align: center; }

.negative-price {
  color: #FF0000; }

.hb-table-width30 {
  width: 30%;
  float: left;
  clear: left; }

.hb-table-width70 {
  width: 70%; }

.hb_table_center {
  text-align: center; }

/*gallerry settings meta box*/
/*
#gallery_settings{
    background-color: #F5F5F5;
    position: relative;
    border: 1px solid #DDD;
}*/
.attachment.add-new .dashicons {
  font-size: 40px;
  line-height: 55px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
  color: #FFF;
  cursor: pointer; }

.attachment.add-new {
  cursor: pointer; }

.attachment.add-new:hover .dashicons {
  color: #00a0d2; }

.attachment .dashicons-trash {
  position: absolute;
  z-index: 5;
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #FFF;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  display: none; }

.attachment .dashicons-trash:hover {
  color: #FF0000; }

.attachment:hover .dashicons-trash {
  display: block; }

.hb-booking-status {
  display: inline-block;
  background-color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #F5F5F5; }

.hb-booking-status a {
  text-decoration: none; }

.hb-booking-status.hb-completed a {
  background-color: #2eb0d1; }

.hb-booking-status.hb-pending a {
  background-color: #cccccc; }

.hb-booking-status.hb-processing a {
  background-color: #ffb316; }

.hb-booking-status.hb-cancelled a {
  background-color: #b55b5b; }

.hb-booking-status a {
  font-size: 10px;
  display: inline-block;
  background-color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 8px;
  color: #F5F5F5; }

.hb_advance_payment {
  color: #dd6464; }

/*end gallerry settings meta box*/
/**rating hb_room**/
.wp-admin.post-type-hb_room .star-rating {
  float: left;
  position: relative;
  width: 75px;
  height: 18px;
  line-height: 1; }

.wp-admin.post-type-hb_room .star-rating:before,
.wp-admin.post-type-hb_room .star-rating span:before {
  content: "\e601\e601\e601\e601\e601";
  color: #ffb606;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  font-family: hotel-booking-star; }

.wp-admin.post-type-hb_room .star-rating span:before {
  content: "\e600\e600\e600\e600\e600"; }

.wp-admin.post-type-hb_room .star-rating span {
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 18px; }

/**end rating hb_room**/
/*OTHER SETTINGS*/
#tp_hotel_booking_other_settings {
  margin-top: 5px;
  padding-left: 15px; }

.tp_hotel_booking_tabs_settings {
  /*width: 20%;
    max-width: 300px;
    float: left;*/ }

.tp_hotel_booking_tabs_settings li {
  display: inline-block; }

.tp_hotel_booking_tabs_settings li a {
  padding: 8px 12px;
  display: block;
  text-decoration: none;
  color: #000;
  background-color: #B5A1EA;
  font-weight: 600;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s; }

.tp_hotel_booking_tabs_settings li a.active,
.tp_hotel_booking_tabs_settings li a:hover {
  background-color: #32373c;
  /*padding-left: 30px;*/
  color: rgba(240, 245, 250, 0.7); }

.tp_hotel_booking_settings_content {
  /*padding-left: 20%;*/ }

.tp_hotel_booking_setting_fields {
  overflow: hidden;
  display: none;
  /*padding: 0 20px;*/ }

.tp_hotel_booking_setting_fields.active {
  display: block; }

/*END OTHER SETTINGS*/
/*****Tags*****/
.wp-list-table .column-thumbnail {
  width: 120px; }

.wp-list-table .column-ordering,
.wp-list-table .column-capacity {
  width: 80px; }

.wp-list-table .hb-number-field {
  width: 40px; }

/*****End Tags*****/
/******META BOX******/
.postbox .inside .hb_meta_title {
  font-weight: 600;
  font-size: 18px !important;
  color: #776C6C; }

#booking_items .hb_overlay.active {
  position: absolute;
  background-color: #fff;
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#booking_items table {
  width: 100%;
  border: 3px solid #f8f8f8; }

#booking_items table th {
  background: #f8f8f8; }

#booking_items table td,
#booking_items table th {
  padding: 8px;
  font-size: 11px;
  text-align: center;
  color: #555;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#booking_items table tr th:first-child,
#booking_items table tr td:first-child {
  width: 1%; }

#booking_items table .actions {
  width: 15%; }

#booking_items .booking_item_table_cost tr th:first-child,
#booking_items .booking_item_table_cost tr td:first-child {
  width: 90%; }

#booking_items .booking_item_table_cost tr td:first-child {
  font-weight: 600;
  font-size: 12px; }

#booking_items table tr td {
  border-bottom: 2px dotted #f8f8f8; }

#booking_items table .name {
  min-width: 200px; }

#booking_items table .left {
  text-align: left; }

#booking_items table .right {
  text-align: right; }

#booking_items table .center {
  text-align: center; }

#booking_items table .actions a {
  font-size: 14px;
  color: #9E9393;
  padding: 0px 5px; }

#booking_items table .actions a:hover {
  color: #555; }

#booking_items table .actions a.remove:hover {
  color: #de5555; }

#booking_items select {
  font-size: 12px;
  font-weight: 400;
  color: #666; }

/*Submit metabox*/
#hb-booking-actions .submitbox {
  overflow: hidden; }

.select2-dropdown {
  z-index: 999999 !important; }

/***END DIALOG***/
/* FULL CALENDAR */
.hotel-booking-fullcalendar.fc td,
.hotel-booking-fullcalendar.fc th {
  font-size: 12px; }

.hotel-booking-fullcalendar.fc-ltr .fc-basic-view .fc-day-number {
  text-align: center;
  font-size: 10px; }

.hotel-booking-fullcalendar-month {
  float: left; }

.hotel-booking-fullcalendar-toolbar {
  overflow: hidden; }

.hotel-booking-fullcalendar-toolbar .fc-right {
  float: right; }

.hotel-booking-fullcalendar-toolbar .fc-button-group {
  margin: 10px 0; }

.hotel-booking-fullcalendar-toolbar .fc-button {
  height: 2.1em;
  line-height: 2.1em; }

.hotel-booking-fullcalendar-toolbar .fc-button:hover {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear; }

.tp_extra_form_field_settings {
  border: 1px solid #dedede; }

.tp_extra_form_field_settings > div > div {
  padding: 10px; }

#tp_extra_form {
  overflow: hidden; }

#tp_extra_form .tp_extra_form_head {
  padding: 0; }

#tp_extra_form h4 {
  margin: 0;
  padding-bottom: 10px;
  width: 100%; }

.tp_extra_form_head h3 {
  margin: 0;
  padding: 10px;
  display: block;
  text-align: center;
  background-color: #77B1EA;
  color: #fff; }

.tp_extra_form_fields {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  overflow: hidden; }

.tp_extra_form_fields:nth-child(2n+1) {
  background-color: #fff; }

.tp_extra_form_fields > div {
  width: 20%;
  float: left; }

.tp_extra_form_fields .remove {
  padding-top: 30px;
  width: 10%; }

.tp_extra_form_fields .desc {
  width: 30%; }

.tp_extra_form_fields > div > input[type="checkbox"] {
  width: auto; }

.tp_extra_form_fields > div > input,
.tp_extra_form_fields > div > textarea,
.tp_extra_form_fields > div > select {
  width: 90%;
  max-width: 90%;
  padding: 7px; }

.tp_extra_form_fields .rooms,
.tp_extra_form_fields > .type {
  width: 10%;
  text-align: center; }

.tp_extra_form_fields > .price > * {
  float: left; }

.tp_extra_form_fields > .price input {
  width: 45%; }

.tp_extra_form_fields > .type select {
  width: 100%; }

.tp_extra_form_fields > .price span,
.tp_extra_form_fields > .type select {
  height: 36px;
  line-height: 36px; }

.tp_extra_form_fields > div > textarea {
  min-height: 100px; }

.tp_extra_add_item {
  float: right; }

.wp-list-table thead #thumb {
  width: 70px; }

.wp-list-table .thumb.column-thumb a {
  position: relative; }
  .wp-list-table .thumb.column-thumb a .sale-label {
    position: absolute;
    width: 100%; }

#list-extra-services {
  width: 100%;
  background: #fff;
  border: 1px solid #E5E5E5;
  margin-top: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  #list-extra-services .list-extra-header th {
    font-weight: 400;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #E5E5E5; }
  #list-extra-services .title {
    width: 10%; }
  #list-extra-services .description {
    width: 30%; }
  #list-extra-services .price {
    width: 20%; }
    #list-extra-services .price input {
      width: 45%; }
  #list-extra-services .type {
    width: 20%; }
  #list-extra-services .actions {
    width: 20%; }
  #list-extra-services tr td input, #list-extra-services tr td textarea {
    display: none; }
  #list-extra-services tr.edit input, #list-extra-services tr.edit textarea {
    display: block; }
